.jorge{
    text-align: left;
    color: rgb(151, 5, 151);

}

#ronaldo{
    text-align: left;
    font-size: 1.5em;
    color: rgb(148, 4, 148);
}

body{
    background-color: rgba(202, 202, 13, 0.87);

}

